body {
    font-family: sans-serif;
    color: #6e94ff;
    background: #e3e3e3;
}

h1 {
    text-align: center;
}

label {
    display: block;
    float: left;
    width: 150px;
    
}

textarea {
    font-family: sans-serif;
}